
body{
	background: darkgray;
}

p{
/*CONTENT - Width and height*/
width: 50%;

/*border*/
border: 2px solid blue;
background: black;
color: green;
font-size: 50px;

/*padding*/

padding:5px;

/*margin*/

margin: 8px;

}